<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepoge</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="/static/js/scripts.js" th:src="@{/js/scripts.js}"></script>


    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-light.min.css">


</head>
<body>
    <h1>Hello СУКА!</h1>
    <pre>

<code id="codeArea">
// Определение своей функции-предиката.
// Проверяет условие: x в квадрате меньше 2.
bool sqr_lt_2(double x)
{
  return x*x < 2;
}


int main()
{
  double x = 0;
  while (true)
  {
    cout << "x = ";
    cin >> x;
    cout << "x*x < 2  == " << sqr_lt_2(x) << endl;
  }
  return EXIT_SUCCESS;
}
        </code>
    </pre>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
</body>
</html>